@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  a {
    color: #a685e1;
    @apply no-underline;
  }
  a:hover {
    color: #b79ced;
  }

  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
}

@layer components {
  /* Ported from style.scss */
  .disqus-placeholder {
    @apply py-8 text-center text-gray-400 italic border-y border-dashed border-gray-700 mt-8;
  }

  .left-menu {
    @apply pt-[50px] text-center;
  }
  .left-menu .photo {
    @apply rounded-full w-[60%] mx-auto;
  }
  .left-menu .title a {
    @apply text-[2.0rem] no-underline text-light;
  }
  .left-menu .social {
    @apply p-0;
  }
  .left-menu .social li {
    @apply inline list-none px-[5px];
  }
  .left-menu #search-box {
    @apply w-[180px] inline-block mt-2 bg-light text-dark border-0 p-2 rounded;
  }
  .left-menu .copyright {
    @apply pt-[15px];
  }

  .site-info {
    @apply w-[300px];
  }
  @media (max-width: 576px) {
    .site-info {
      @apply w-[250px];
    }
  }
  .site-info div h1, .site-info div p {
    @apply p-0;
  }
  .site-info div h1 {
    @apply -mt-[5px] ml-[7px];
  }
  .site-info div p {
    @apply ml-[7px];
  }
  .site-info div img {
    @apply rounded-full w-[64px];
  }

  /* Post Styles */
  .post {
    @apply pt-[10px] pb-[15px];
  }
  .post .meta {
    @apply py-[7px];
  }
  .post .meta .date a, .post .meta .category a, .post .meta .comments a {
    @apply text-light no-underline;
  }
  .post .meta .date a:hover, .post .meta .category a:hover, .post .meta .comments a:hover {
    @apply text-gray-500;
  }
  .post .meta .category {
    @apply pl-[5px];
  }
  .post .meta .reading-time, .post .meta .comments {
    @apply pl-[5px];
  }
  @media (max-width: 576px) {
    .post .meta .reading-time, .post .meta .comments {
      @apply pl-0;
    }
    .post .meta .reading-time {
      @apply block;
    }
  }

  .post .tags {
    @apply pb-[12px];
  }

  .post .content {
    @apply text-justify text-lg leading-relaxed;
  }
  .post .content p {
    @apply mb-6;
  }
  .post .content ul {
    @apply list-disc pl-8 my-4;
  }
  .post .content ol {
    @apply list-decimal pl-8 my-4;
  }
  .post .content li {
    @apply mb-2;
  }
  .post .content p img {
    @apply block mx-auto max-w-[850px];
  }
  @media (max-width: 576px) {
    .post .content p img {
      @apply max-w-none w-full;
    }
  }
  .post .content .caption {
    @apply block text-center text-gray-500 text-sm italic mt-1;
  }
  .post .content iframe {
    @apply block mx-auto;
  }
  @media (max-width: 576px) {
    .post .content iframe {
      @apply w-full;
    }
  }
  .post .content pre.highlight {
    @apply p-[10px];
  }
  .post .content .social {
    @apply p-0;
  }
  .post .content .social li {
    @apply inline list-none px-[5px];
  }

  .home .post .title, .search .post .title {
    @apply py-[7px];
  }
  .home .post .title a, .search .post .title a {
    @apply text-light no-underline;
  }

  .home .pagination, .search .pagination {
    @apply flex justify-between;
  }
  .home .pagination .previous .page-link, 
  .home .pagination .next .page-link,
  .search .pagination .previous .page-link,
  .search .pagination .next .page-link {
    @apply rounded p-2 bg-gray-700 text-light;
  }
}

/* Monokai Highlight Styles */
.highlight pre { background-color: #272822; }
.highlight .hll { background-color: #272822; }
.highlight  { background: #272822; color: #f8f8f2; }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .gd { color: #f92672 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #f8f8f2; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #a6e22e } /* Generic.Inserted */
.highlight .go { color: #66d9ef } /* Generic.Output */
.highlight .gp { color: #f92672; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #75715e } /* Generic.Subheading */
.highlight .gt { color: #f92672 } /* Generic.Traceback */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */
