/* "Dark mode" customizations */
html, body {
    background-color: #212529;
}

* {
color: #f8f9fa; 
}

* > a {
    color: #f8f9fa; 
}

* > a:hover {
    color: #e9ecef; 
}

.post-link {
    text-decoration: none;
}

h2 {
    font-size: 1.30rem;
}

h3 {
    font-size: 1.35rem;
}

