* {
    color: #f8f9fa;
    font-size: 14px;
}

* > a {
    color: #f8f9fa; 
}

* > a:hover {
    color: #e9ecef; 
}

html, body {
    background-color: #212529;
}

h1, h1 > * {
    font-size: 2.5rem;
}
h2, h2 > * {
    font-size: 2.0rem;
}
h3, h3 > * {
    font-size: 1.5rem;
}

.post-title {
    padding-top: 20px;
}

.post-title > a {
    text-decoration: none;
}
