<ul class="social flex space-x-2">
    {%- if site.social.linkedin -%}
    <li><a href="https://linkedin.com/in/{{ site.social.linkedin }}" target="_blank" class="text-light hover:text-white"><i class="fab fa-linkedin fa-2x"></i></a></li>
    {%- endif -%}
    {%- if site.social.github -%}
    <li><a href="https://github.com/{{ site.social.github }}" target="_blank" class="text-light hover:text-white"><i class="fab fa-github fa-2x"></i></a></li>
    {%- endif -%}
    {%- if site.social.instagram -%}
    <li><a href="https://instagram.com/{{ site.social.instagram }}" target="_blank" class="text-light hover:text-white"><i class="fab fa-instagram fa-2x"></i></a></li>
    {%- endif -%}
    {%- if site.social.youtube -%}
    <li><a href="https://youtube.com/{{ site.social.youtube }}" target="_blank" class="text-light hover:text-white"><i class="fab fa-youtube fa-2x"></i></a></li>
    {%- endif -%}
</ul>
