---
---

@charset 'UTF-8';

@import 'bootstrap-colors';
@import 'vim';

* {
    color: $light;
    font-size: 14px;
    a {
        color: lighten($primary, 23); 
    }
    a:hover {
        color: lighten($primary, 30); 
    }
    @media (max-width: 576px) {
        font-size: 16px;
    }
}

html, body {
    background-color: $dark;
}

h1 {
    font-size: 2.5rem;
    * {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: 2.0rem;
    * {
        font-size: 2.0rem;
    }
}

h3 {
    font-size: 1.5rem;
    * {
        font-size: 1.5rem;
    }   
}

#disqus_thread {
    iframe {
        * {
            color: $light;
        }
    }
}

.left-menu {
    padding-top: 50px;
    text-align: center;
    .photo {
        border-radius: 50%;
    }
    .title {
        a {
            font-size: 2.0rem;
            text-decoration: none;
            color: $light;
        }
    }
    .social {
        padding: 0;
        li {
            display: inline;
            list-style: none;
            padding: 0 5px;
        }
    }
    #search-box {
        width: 180px;
        display: revert;
    }
    .copyright {
        padding-top: 15px;
    }
}

.site-info {
    width: 300px;
    @media (max-width: 576px) {
        width: 250px;
    }
    div {
        h1, p {
            padding: 0;
        }
        h1 {
            margin: -5px 0 0 7px;
        }
        p {
            margin: 0 0 0 7px;
        }
        img {
            border-radius: 50%;
            width: 64px;
        }
    }
}

.post {
    padding-top: 10px;
    padding-bottom: 15px;
    .meta {
        padding: 7px 0;
        .date, .category, .comments {
            a {
                color: $light;
                text-decoration: none;
            }
            a:hover {
                color: darken($light, 30); 
            }
        }        
        .category {
            padding-left: 5px;
        }
        
        .reading-time, .comments {
            padding-left: 5px;
            @media (max-width: 576px) {
                padding-left: 0;
            }
        }
        .reading-time {
            @media (max-width: 576px) {
                display: block;
            }
        }
    }
    .content {
        text-align: justify;
        p {
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 850px;
                @media only screen and (max-width: 576px) {
                    max-width: none;
                    width: 100%;
                }
            }
        }
        iframe {
            display: block;
            margin-left: auto;
            margin-right: auto;
            @media only screen and (max-width: 576px) {
                width: 100%;
            }
        }
        pre {
            &.highlight {
                padding: 10px;
            }
        }
    }
}

.home, .search {
    .post {
        .title {
            padding: 7px 0 7px 0;
            a {
                color: $light;
                text-decoration: none;
            }
        }
    }
    .pagination {
        .previous {
            .page-link {
                border-radius: .25rem;
            }
        }
        .next {
            .page-link {
                border-radius: .25rem;
            }
        }
    }
}
