---
layout: default
---

<div class="blog">
    {% assign date_format = site.minima.date_format | default: "%d/%m/%Y" %}
    {% for post in site.posts %}
    <div class=post>
        <h2 class="title">
            <a href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
        </h2>
        <div class="meta">
            <span class="date"><i class="far fa-calendar-alt"></i> {{ post.date | date: date_format }}</span>
            <span class="category"><i class="fas fa-tag"></i> {{ post.category }}</span>
            {% include reading_time.html %}
            <span class="comments"><i class="fas fa-comments"></i> <a
                    href="{{ post.url | relative_url }}#disqus_thread">Deixe seu comentário</a></span>
        </div>
        <div class="content">
            {{ post.excerpt }}
        </div>
        <div class="more">
            <a href="{{ post.url | relative_url }}">Leia mais...</a>
        </div>
    </div>
    {% endfor %}

    <ul class="pagination">
        {% if paginator.next_page %}
        <li class="next"><a href="{{ paginator.next_page_path }}">Posts anteriores</a></li>
        {% else %}
        <li class="next"><span>Posts anteriores</span></li>
        {% endif %}

        {% if paginator.previous_page %}
        <li class="previous"><a href="{{ paginator.previous_page_path }}">Posts recentes</a></li>
        {% else %}
        <li class="previous"><span>Posts recentes</span></li>
        {% endif %}
    </ul>
</div>
