---
layout: blog_default
---

<div class="col-span-3 pr-3">
    {% assign date_format = site.minima.date_format | default: "%d/%m/%Y" %}
    {% for post in paginator.posts %}
    <div class="py-3">
        <h2 class="text-2xl pb-1"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
        <ul class="pb-1">
            <li class="inline px-1"><i class="far fa-calendar-alt"></i> {{ post.date | date: date_format }}</li>
            <li class="inline px-1"><i class="fas fa-tag"></i> {{ post.category }}</li>
            {% include reading_time.html %}
            <li class="inline px-1"><i class="fas fa-comments"></i> <a href="{{ post.url | relative_url }}#disqus_thread">Deixe seu comentário</a></li>
        </ul>
        <div class="post-content">
            {{ post.excerpt }}
        </div>
        <div class="py-3">
            <a href="{{ post.url | relative_url }}" class="px-2 py-1 bg-purple-900 text-gray-300 rounded">Leia mais...</a>
        </div>
    </div>
    {% endfor %}
    <ul class="py-2">
        {% if paginator.next_page %}
        <li class="inline float-left my-5"><a href="{{ paginator.next_page_path }}" class="px-3 py-2 bg-purple-900 text-gray-300 rounded">Posts anteriores</a></li>
        {% else %}
        <li class="inline float-left my-5"><a class="px-3 py-2 bg-purple-800 text-gray-400 rounded">Posts anteriores</a></li>
        {% endif %}

        {% if paginator.previous_page %}
        <li class="inline float-right my-5"><a href="{{ paginator.previous_page_path }}" class="px-3 py-2 bg-purple-900 text-gray-300 rounded">Posts recentes</a></li>
        {% else %}
        <li class="inline float-right my-5"><a class="px-3 py-2 bg-purple-800 text-gray-400 rounded">Posts recentes</a></li>
        {% endif %}
    </ul>
</div>
