---
layout: default
---

<div class="grid grid-cols-4">
    <div class="grid grid-cols-6">
        <div></div>
        <div class="col-span-4 text-center py-3">
            <img src="https://www.gravatar.com/avatar/ce87a4c115c24ba10709878170134546?s=150" class="rounded-full inline">
            <h1 class="text-2xl">{{ site.title }}</h1>
            <p class="text-xl">{{ site.description }}</p>
            <ul class="py-3">
                <li class="px-1"><a href="/">Inicial</a></li>
                <li class="px-1"><a href="#">Cursos</a></li>
                <li class="px-1"><a href="#">Consultoria</a></li>
            </ul>
            <ul>
                <li class="inline px-1"><a href="https://linkedin.com/in/lpsouza" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
                <li class="inline px-1"><a href="https://github.com/lpsouza" target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
                <li class="inline px-1"><a href="https://instagram.com/lpsouza" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></li>
                <li class="inline px-1"><a href="https://youtube.com/user/lpsouza" target="_blank"><i class="fab fa-youtube fa-2x"></i></a></li>
            </ul>
        </div>
        <div></div>
    </div>
    {{ content }}
</div>
