<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% if site.analytics %}
    {% include gtag.html %}
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page.layout == "post" %}
    {% include og.html %}
    {% endif %}

    {% if page.layout == "post" %}
    <title>{{ page.title }} - {{ site.title }}</title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}

    <link rel="stylesheet" href="/assets/css/style.css">

    <script src="https://kit.fontawesome.com/720e927f0e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark d-lg-none">
            <div class="container-fluid">
                <div class="site-info">
                    <div class="float-start">
                        <img src="{{ site.author.photo }}">
                    </div>
                    <div class="float-start">
                        <h1><a href="/" class="navbar-brand">{{ site.title }}</a></h1>
                        <p>{{ site.description }}</p>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {%- comment -%} <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sobre</a>
                        </li>
                    </ul> {%- endcomment -%}
                    <form action="/search/" method="get" class="d-flex">
                        <input type="text" name="s" id="search-box text-primary" class="form-control" placeholder="Busca">
                    </form>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="left-menu col-md-3 d-none d-lg-block">
                <img class="photo" src="{{ site.author.photo }}">
                <h1 class="title"><a href="/">{{ site.title }}</a></h1>
                <p class="description">{{ site.description }}</p>
                {% include social.html %}
                <form action="/search/" method="get">
                    <input type="text" name="s" id="search-box" class="form-control text-primary" placeholder="Buscar no site">
                </form>
                {%- comment -%} <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul> {%- endcomment -%}
                <p class="copyright">© 2009 - {{ "now" | date: "%Y" }}</p>
            </div>
            <div class="col-md">
                {{ content }}
            </div>
        <div>

    </div>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script id="dsq-count-scr" src="https://{{ site.disqus.shortname }}.disqus.com/count.js" async></script>
</body>

</html>
